.logo{
    margin-top: -5px;
    margin-left: 15px;
    font-size: 40px;
    font-weight: 400;
    color: #39f;
    text-transform: uppercase;
    font-weight: 600;
}
.site-navbar ul{
  flex-direction: row;
  li{
      a{color: #333333;margin-right: 25px;padding: .5rem 1rem;
        &:hover{border-bottom: 4px solid #007bff;text-decoration: none;}
        &.active{border-bottom: 4px solid #007bff;}
    }
  }
}